body{
    background-image: url("./images/Astonishing Nature 4K Wallpaper 4.jpg");
    background-repeat: no-repeat;
    width: 100%!important;
    height: 100%!important;
}
@media (max-width: 760px) {
    .navback {
        background-color: black!important;
    }
}
.nav-link{
    margin-right: 30px;
    color: white!important;
}
.nav-link:hover{
    color:lightblue!important;
}
.navbar-brand{
    margin-left: 30px!important;
    color: white!important;
}
.navbar-brand:hover{
    color: lightblue!important;
}
.crea{
    color: white!important;
    font-size: 100px;
    margin-top: 100px;
}
@media (max-width: 760px) {
    .crea{
        color: white;
        font-size: 30px!important;
    }
}
.btn-primary{
    background-color: pink!important;
    border: pink!important;
    margin-top: 20px;
    border-top-left-radius:50%!important;
    border-bottom-left-radius:50%!important;
}
.container2{
    margin-top: 150px;
    color: white!important;
}

@media (max-width: 760px) {
    #this{
        font-size: 30px!important;
    }
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}