.navbar{
    margin-top: 10px;
}
.nav-link{
    margin-right: 40px;
}
.nav-link:hover{
    color: red!important;
}
#zindex{
    position:absolute;
    z-index: -1;
}
.imagebelow{
    margin-top: 712px!important;
}
#some{
    position: absolute;
    top: 50%;
    left: 30%;
    color: white;
    font-size: 50px;
}
.readmore{
    border:2px solid white;
    background: transparent;
    border-radius: 10%;
    position : absolute;
    margin-top: 300px;
    margin-left: 400px;
    color: white;
    padding: 8px;
}
.readmore:hover{
   background: orangered;
}

